<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>KiMiA Synthesizer</string>
			<key>factoryFunction</key>
			<string>AUWrapperFactory</string>
			<key>manufacturer</key>
			<string>RyBr</string>
			<key>name</key>
			<string>Ray Bridge Digital: KiMiA</string>
			<key>subtype</key>
			<string>Auro</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>6657</integer>
		</dict>
	</array>
	<key>AudioUnit SupportedNumChannels</key>
	<array>
		<dict>
			<key>Inputs</key>
			<string>0</string>
			<key>Outputs</key>
			<string>2</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Aurora</string>
	<key>CFBundleIdentifier</key>
	<string>com.raybridgedigital.aurora.au</string>
	<key>CFBundleName</key>
	<string>Aurora</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.26.1</string>
	<key>CFBundleVersion</key>
	<string>0.26.1</string>
</dict>
</plist>
